@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  font-size: xx-large;
}

.layout {
  height: 100vh;
  background-image: linear-gradient(to bottom, white, #dbeafe, white);
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  padding: 16px 0px;
}

.logo {
  font-size: 28px;
  font-weight: 800;
}

.links {
  display: flex;
  gap: 24px;
  align-items: center;
}

.link-items {
  font-size: 24px;
  text-decoration: none;
  color: #525252;
}

.link-items:hover {
  color: black;
  transition: color 0.2s ease-in-out;
}

.btn {
  all: unset;
  font-size: 24px;
  padding: 10px 10px;
  background-color: #3b82f6;
  border-radius: 12px;
  color: #ffffff;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.hero-root {
  padding: 100px 0px;
}

.badge {
  font-size: 20px;
  max-width: 400px;
  border-radius: 50px;
  background-color: #f5f5f5;
  padding: 10px 20px;
  width: fit-content;
  margin: 0 auto;
  border: 0.5px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.badge svg {
  height: 22px;
  width: 22px;
}

.badge:hover {
  background-color: #e5e5e5;
  transition: background-color 0.2s ease-in-out;
}

.hero-title {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 1.1;
  margin-top: 40px;

}


.hero-subtitle {
  font-size: 24px;
  color: #737373;
  text-align: center;
  max-width: 650px;
  margin: 20px auto;
}

.hero-cta {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.btn-secondary {
  all: unset;
  color: black;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 10px;
  border-radius: 16px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #f5f5f5;
  }
}

.left-line {
  position: absolute;
  top: 0;
  left: -40px;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #d4d4d4, #f5f5f5);
  opacity: 50%;
}

.right-line {
  position: absolute;
  top: 0;
  right: -40px;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #d4d4d4, #f5f5f5);
  opacity: 50%;
}